In [ ]:
import pandas as pd

In [8]:
df = pd.read_csv('ml-latest-small-100K/ratings.csv')

In [24]:
df.head(100)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
..     ...      ...     ...        ...
95       1     1445     3.0  964984112
96       1     1473     4.0  964980875
97       1     1500     4.0  964980985
98       1     1517     5.0  964981107
99       1     1552     4.0  964982620

[100 rows x 4 columns]

In [16]:
df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [20]:
second = df.iloc[1]

In [23]:
second

userId               1.0
movieId              3.0
rating               4.0
timestamp    964981247.0
Name: 1, dtype: float64